// Default Blue
$theme_color_default: #0860F2;

// Blue
$theme_color_blue: #2E7CF7;

// Purple
$theme_color_purple: #bd93f9;

// pink
$theme_color_pink: #ff79c6;

// red
$theme_color_red: #ff5555;

// orange
$theme_color_orange: #ffb86c;

// yellow
$theme_color_yellow: #f1fa8c;

// green
$theme_color_green: #50fa7b;

// grey
$theme_color_grey: #8C8C8C;
